<nb-layout>
    <nb-layout-header>
        Logo
        <button
            nbButton
            outline
            status="primary"
            size="small"
            [nbContextMenu]="items"
            nbContextMenuPlacement="right"
            nbContextMenuTrigger="click"
            class="notification"
        >
            Notifications
            <!--<img alt='notifications' class="notification" src="../../../assets/bell-outline.svg"/>-->
        </button>
    </nb-layout-header>
    <nb-layout-column *ngIf="currentSubPage === '  Interviews'">
        <div>ghghghg</div>
    </nb-layout-column>

    <nb-sidebar>
        <app-user-sidebar
            (chosen)="setSubPage($event)"
            [menuList]="menuList"
        ></app-user-sidebar>
    </nb-sidebar>
</nb-layout>
