<div class="container">
    <h3>Upcoming interviews</h3>
    <nb-card class="card" *ngIf="interview">
        <nb-card-header>Interview</nb-card-header>
        <nb-card-body>
            <p>
                <b>Interviewer:</b>
                {{
                    interview.interviewer.name +
                        " " +
                        interview.interviewer.surname
                }}
            </p>
            <p>
                <b>Date:</b>
                {{
                    interview.datetime.getFullYear() +
                        "." +
                        interview.datetime.getMonth() +
                        "." +
                        interview.datetime.getDay()
                }}
            </p>
        </nb-card-body>
    </nb-card>
</div>
