<!--<nb-layout>-->

  <!--<app-user-sidebar></app-user-sidebar>-->
  <!--<nb-layout-header fixed>Company Name</nb-layout-header>-->



  <!--<nb-layout-column>-->
   <!--<p>-->
        <!--login-page-->
      <!--</p>-->
      <!--<div>-->
        <!--&lt;!&ndash;<form [formGroup]="registrationForm">&ndash;&gt;-->
        <!--<form>-->
          <!--<input formControlName="name" type="text" class="form-control" placeholder="Name" >-->
          <!--<input formControlName="surname" type="text" class="form-control" placeholder="Surname" >-->
        <!--</form>-->
        <!--<div class="footer text-center">-->
          <!--<button (click)="submitForm()" href="#pablo" class="btn btn-neutral btn-round btn-lg">Get Started</button>-->
        <!--</div>-->
      <!--</div>-->
  <!--</nb-layout-column>-->
<!--</nb-layout>-->
<i class="eva eva-github"></i>
