.notification {
    position: absolute;
    right: 20px;
}
.menu-icon {
    width: 5px;
}
:host nb-layout-column {
}
:host nb-layout-column:first-child {
    background: #e3e6f9;
}
:host nb-layout-column:nth-child(2) {
    background: #edeef7;
}
:host nb-layout-column:last-child {
    background: #f4f4f7;
}
