<nb-layout>
    <nb-layout-header>
        Logo
        <button
            nbButton
            outline
            status="primary"
            size="small"
            [nbContextMenu]="items"
            nbContextMenuPlacement="right"
            nbContextMenuTrigger="click"
            class="notification"
        >
            Notifications
            <!--<img alt='notifications' class="notification" src="../../../assets/bell-outline.svg"/>-->
        </button>
    </nb-layout-header>
    <nb-layout-column>
        <div *ngIf="currentSubPage === 'Profile information'">
            <app-documents-component></app-documents-component>
        </div>
        <div *ngIf="currentSubPage === 'Tests'">
            <app-candidate-tests></app-candidate-tests>
        </div>
        <div *ngIf="currentSubPage === 'Interviews'">
            <app-candidate-tests></app-candidate-tests>
        </div>
    </nb-layout-column>
    <nb-sidebar>
        <app-user-sidebar
            (chosen)="setSubPage($event)"
            name="Joe Manageroff"
            status="manager"
            [menuList]="menuList"
        ></app-user-sidebar>
    </nb-sidebar>
</nb-layout>
